@model IEnumerable<BankServiceClient.ServiceReference.BanknoteModel>

@{
    ViewBag.Title = "Info about all banknotes";
}

<h2>@ViewBag.Title</h2>
<hr />
<br />

<table class="solidTable">
    <tr>
        <th class="solidCell">
            @Html.DisplayNameFor(model => model.Denomination)
        </th>
        <th class="solidCell">
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td class="solidCell">
                @Html.ActionLink(item.Denomination.ToString(), "BanknoteDetail", "Banknotes", new { denomination = item.Denomination }, null)
            </td>
            <td class="quantityCell">
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
        </tr>
    }

</table>

<br />

@Html.ActionLink("Add or change banknote", "AddOrChangeBanknote", "Banknotes")

<div>
    <br />
    <a href="/Home/Index">Home</a>
</div>